// Define variables
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;
$font-family: Arial, sans-serif;
$padding: 20px;

// Apply SCSS features
.header {
  background-color: $primary-color;
  color: white;
  padding: $padding;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin: 0;
  }

  &__nav {
    ul {
      list-style-type: none;
      padding: 0;
      &__menu {
        display: flex;

        &-item {
          margin-right: 10px;
        }

        &-link {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.main-content {
  padding: $padding;

  &__intro {
    text-align: center;

    h2 {
      color: $text-color;
    }

    p {
      color: $text-color;
      font-size: 18px;
    }
  }

  &__articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }

  .article-card {
    background-color: aquamarine;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &__title {
      margin-top: 0;
      color: $text-color;
    }

    &__excerpt {
      color: $text-color;
    }

    &__read-more {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer {
  background-color: $secondary-color;
  color: white;
  padding: $padding;
  text-align: center;
}
